# Packages

In [8]:
#preprocessing pkg 
import polars as pl 
import pandas as pd 
import numpy as np 
from pathlib import Path

# Variables

In [4]:
ADULT_DATA_SALARY_CSV_PATH : str = './data' + '/adult_data_salary.csv'
ADULT_DATA_SALARY_PREPROCESSED_CSV_PATH : str = './preprocessed_data' + 'adult_data_salary_preprocessed.csv'

# Preprocessing

In [9]:
column_names = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","class"]

In [10]:
# Load Dataset
data = pd.read_csv(ADULT_DATA_SALARY_CSV_PATH,names=column_names)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
NaN,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0.0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1.0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2.0,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3.0,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [11]:
df = data.copy()

#### Besoin de convertir les variables  numériques en  variables catégorielles

In [12]:
# Rechercher toutes les  Colonnes de type Object 
df.dtypes[df.dtypes == 'object']

age               object
workclass         object
fnlwgt            object
education         object
education-num     object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain      object
capital-loss      object
hours-per-week    object
native-country    object
class             object
dtype: object

In [13]:
df['workclass'].unique()

array(['workclass', ' State-gov', ' Self-emp-not-inc', ' Private',
       ' Federal-gov', ' Local-gov', ' ?', ' Self-emp-inc',
       ' Without-pay', ' Never-worked'], dtype=object)

# Reminder : Structures de données en python 

        - Tuple
        - Liste
        - Dictionnaire
        - Set

* Tuple : Collection ordonnée d'éléments enfermés dans ()
* Les tuples sont immuables, vous ne pouvez pas modifier la valeur à l'intérieur du tuple 
* mélange hétérogène de différents éléments

In [31]:
# tuple 
tup1 = (100, "b", True, "c" , False)
type(tup1)


# Extract Individual elements 

tup1[0]
tup1[1]
tup1[-1]
tup1[1:3]
#tup1[2] = "hello" # les tuples sont immuables et donc l'erreur vient de là  vous ne pouvez pas modifier la valeur à l'intérieur du tuple 


# Finding length of tuple 

tup1 = (100,"b" , True, "c" , False)
len(tup1)

# concatening tuples 
tup1 = (1,2,3)
tup2 = (4,5,6)
tup1 + tup2 


# Repeating Tuple elements 
tup1 = ("pooda", 300)
tup1*3


# Repeating and concatenating
tup1=("pooda" , 300)
tup2=(4,5,6)
tup1*3+tup2


# Tuple Functions


   ##minimum value
tup1 = (1,2,3,4,5)
min(tup1)


   ##maximum value
tup1 = (1,2,3,4,5)
max(tup1)

5

* List : Collection ordonnée d'éléments enfermés dans []
* Les list sont muables, 
On peut ajouter , soustraire et multiplier des valeurs  à l'intérieur de la liste

In [50]:
L1 = [1, "pooda" , 3.14, True, 5+9j] 
type(L1)

# Extracting individual elements 

L1[-1] 
L1[1:4] 

# Modifying a list
   # changing the element of 0th index
L1 = [1,"a",2,"b",3,"c"]
L1[0] = 100
L1
   # Appending a new element 
L1=[1,"a" , 2 , "b" , 3, "c"]
L1.append("pooda")
L1

# Popping the last element 
L1 = [1, "a", 2, "b", 3 , "c"]
L1.pop()
L1

# Reversing elements of a list
L1 = [1, "a", 2, "b", 3 , "c"]
L1.reverse()
L1

# Inserting element at a specified index 
L1 = [1,"a" , 2, "b", 3 , "c"]

L1.insert(1, "pooda")

# sorting a list 

L1 = ["Mango", "cherry" , "banana" , "guava"]
L1.sort()
L1

# concatening lists 
L1 = [1,2,3]
L2 = ["a" , "b", "c"]

L1+L2

# Repeating elements 

L1 = [1,"a",True]
L1 * 3

[1, 'a', True, 1, 'a', True, 1, 'a', True]

* Dictionnaire : Collection non  ordonnée de paires clés valeurs enfermés dans {}
* Les dictionnaires sont muables,

In [63]:
# extracting keys 
fruit = {"apple":50,"banana":30,"orange":40,"ananas":60}

fruit.keys()

# extracting values 
fruit = {"apple":50,"banana":30,"orange":40,"ananas":60}
fruit.values()

fruit.items()

# Adding a new element 
fruit = {"Apple":10,"orange":20, "Banana":30}
fruit["Mango"]=50
fruit 
# changing an existing element
fruit = {"apple":10,"banana":20}
fruit["Apple"]=100

fruit 


# Update one dictionnary's element with another 


fruit1 = {"Apple":10,"Orange":20}
fruit2 = {"cherry":30,"Banana":40}


fruit.update(fruit2)

fruit

# Popping an element (Removing)
fruit = {"Apple":10,"orange":20,"Banana":30}

fruit.pop("orange")

fruit

{'Apple': 10, 'Banana': 30}

* Set : Collection non  ordonnée et inindexés d'éléments enfermés dans {}
* Il n'ya pas de sequence à proprement parlé donc l'indexation n'est pas possible dans le set (ensemble)

In [77]:
s1 = {1,"Pooda", "Pooda",1}
s1
# comme on peut le voir les duplicates ne sont pas permis dans un set (ensemble)

# Set opérations

# Adding a new element 
s1 = {1,"a" , "True" , 2 , "b" , False }

s1.add("Hello")

s1

# updating multiple elements 

s1 = {1,"a" , "True" , 2 , "b" , False }
s1.update([10,20,30])
s1

# removing an element
s1 = {1, "a", True, 2 , "b" , False}
s1.remove("b")
s1

# union and intersection

## union 

s1 = {1,2,3}
s2 = {"a" , "b" , "c"} # basically concatening
s1.union(s2)

## Intersection 
s1 = {1,2,3,4,5,6}    # to find out the common elements between two (decouvrir les elements communs entre les deux)
s2 = {5,6,7,8,9}

s1.intersection(s2)

{5, 6}

In [78]:
set(df['workclass'])

{' ?',
 ' Federal-gov',
 ' Local-gov',
 ' Never-worked',
 ' Private',
 ' Self-emp-inc',
 ' Self-emp-not-inc',
 ' State-gov',
 ' Without-pay',
 'workclass'}

In [83]:
for a , b in enumerate("ablo"):
    print(a)

0
1
2
3

In [85]:
for k, v in enumerate(df['workclass'].unique()):
    print(k,v)

0 workclass
1  State-gov
2  Self-emp-not-inc
3  Private
4  Federal-gov
5  Local-gov
6  ?
7  Self-emp-inc
8  Without-pay
9  Never-worked

In [86]:
# d = {ni: indi for indi, ni in enumerate(set(names))}
d = {v: k for k, v in enumerate(set(df['workclass'].unique()))}
d

{' Private': 0,
 ' Self-emp-not-inc': 1,
 ' State-gov': 2,
 ' Self-emp-inc': 3,
 ' Never-worked': 4,
 ' Local-gov': 5,
 ' ?': 6,
 ' Federal-gov': 7,
 ' Without-pay': 8,
 'workclass': 9}

In [87]:
df['education'].unique()

array(['education', ' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [88]:
# Function to Assign Numbers to Unique Values
def generate_dict(data):
    my_dict = {v: k for k, v in enumerate(set(data))}
    return my_dict
generate_dict(df['education'].unique())

{' Masters': 0,
 ' Assoc-acdm': 1,
 ' 10th': 2,
 ' 5th-6th': 3,
 ' 11th': 4,
 'education': 5,
 ' Prof-school': 6,
 ' 9th': 7,
 ' 1st-4th': 8,
 ' Doctorate': 9,
 ' Some-college': 10,
 ' 12th': 11,
 ' HS-grad': 12,
 ' Bachelors': 13,
 ' Assoc-voc': 14,
 ' 7th-8th': 15,
 ' Preschool': 16}

In [89]:
obj_list = ["workclass","education","marital-status ","occupation","relationship","race ","sex ","native-country","class"]
obj_names = ["d_workclass","d_education","d_marital-status ","d_occupation","d_relationship","d_race ","d_sex ","d_native-country","d_class"]
for i,j in zip(obj_names,obj_list):
    print('{} = generate_dict(df["{}"].unique())'.format(i,j))

d_workclass = generate_dict(df["workclass"].unique())
d_education = generate_dict(df["education"].unique())
d_marital-status  = generate_dict(df["marital-status "].unique())
d_occupation = generate_dict(df["occupation"].unique())
d_relationship = generate_dict(df["relationship"].unique())
d_race  = generate_dict(df["race "].unique())
d_sex  = generate_dict(df["sex "].unique())
d_native-country = generate_dict(df["native-country"].unique())
d_class = generate_dict(df["class"].unique())

In [90]:
d_workclass = generate_dict(df["workclass"].unique())
d_education = generate_dict(df["education"].unique())
d_marital_status  = generate_dict(df["marital-status"].unique())
d_occupation = generate_dict(df["occupation"].unique())
d_relationship = generate_dict(df["relationship"].unique())
d_race  = generate_dict(df["race"].unique())
d_sex  = generate_dict(df["sex"].unique())
d_native_country = generate_dict(df["native-country"].unique())
d_class = generate_dict(df["class"].unique())

In [91]:
d_workclass

{' Private': 0,
 ' Self-emp-not-inc': 1,
 ' State-gov': 2,
 ' Self-emp-inc': 3,
 ' Never-worked': 4,
 ' Local-gov': 5,
 ' ?': 6,
 ' Federal-gov': 7,
 ' Without-pay': 8,
 'workclass': 9}

# Mapping the Dataset
+ Method 1 using map
+ Method 2 using get_dummies

In [92]:
df["workclass"] = df["workclass"].map(d_workclass)
df["education"] = df["education"].map(d_education)
df["marital-status"] = df["marital-status"].map(d_marital_status)
df["occupation"] = df["occupation"].map(d_occupation)
df["relationship"] = df["relationship"].map(d_relationship)
df["race"] = df["race"].map(d_race)
df["sex"] = df["sex"].map(d_sex)
df["native-country"] = df["native-country"].map(d_native_country)
df["class"] = df["class"].map(d_class)

In [93]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
NaN,age,9,fnlwgt,5,education-num,3,10,3,4,0,capital-gain,capital-loss,hours-per-week,1,1
0.0,39,2,77516,13,13,1,5,4,3,1,2174,0,40,22,2
1.0,50,1,83311,13,13,6,4,1,3,1,0,0,13,22,2
2.0,38,0,215646,12,9,5,12,4,3,1,0,0,40,22,2
3.0,53,0,234721,4,7,6,12,1,5,1,0,0,40,22,2
4.0,28,0,338409,13,13,6,6,2,5,2,0,0,40,15,2
5.0,37,0,284582,0,14,6,4,2,3,2,0,0,40,22,2
6.0,49,0,160187,7,5,4,14,4,5,2,0,0,16,24,2
7.0,52,1,209642,12,9,6,4,1,3,1,0,0,45,22,0
8.0,31,0,45781,0,14,1,6,4,3,2,14084,0,50,22,0

In [99]:
 # save preprocessing data output 

df.to_csv(ADULT_DATA_SALARY_PREPROCESSED_CSV_PATH)