In [8]:
#EDA pkg 
import polars as pl 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns   
import pyarrow
from pathlib import Path
# ML pkg 

from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score

In [4]:
ADULT_DATA_SALARY_CSV_PATH : str = './data' + '/adult_data_salary.csv'

In [9]:
column_names = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","class"]

In [10]:
# Load Dataset
data = pd.read_csv(ADULT_DATA_SALARY_CSV_PATH,names=column_names)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
NaN,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0.0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1.0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2.0,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3.0,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [11]:
df = data.copy()

#### Besoin de convertir les variables  numériques en  variables catégorielles

In [12]:
# Rechercher toutes les  Colonnes de type Object 
df.dtypes[df.dtypes == 'object']

age               object
workclass         object
fnlwgt            object
education         object
education-num     object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain      object
capital-loss      object
hours-per-week    object
native-country    object
class             object
dtype: object

In [13]:
df['workclass'].unique()

array(['workclass', ' State-gov', ' Self-emp-not-inc', ' Private',
       ' Federal-gov', ' Local-gov', ' ?', ' Self-emp-inc',
       ' Without-pay', ' Never-worked'], dtype=object)

# Structures de données en python 

        - Tuple
        - Liste
        - Dictionnaire
        - Set

* Tuple : Collection ordonnée d'éléments enfermés dans ()
* Les tuples sont immuables, vous ne pouvez pas modifier la valeur à l'intérieur du tuple 
* mélange hétérogène de différents éléments

In [31]:
# tuple 
tup1 = (100, "b", True, "c" , False)
type(tup1)


# Extract Individual elements 

tup1[0]
tup1[1]
tup1[-1]
tup1[1:3]
#tup1[2] = "hello" # les tuples sont immuables et donc l'erreur vient de là  vous ne pouvez pas modifier la valeur à l'intérieur du tuple 


# Finding length of tuple 

tup1 = (100,"b" , True, "c" , False)
len(tup1)

# concatening tuples 
tup1 = (1,2,3)
tup2 = (4,5,6)
tup1 + tup2 


# Repeating Tuple elements 
tup1 = ("pooda", 300)
tup1*3


# Repeating and concatenating
tup1=("pooda" , 300)
tup2=(4,5,6)
tup1*3+tup2


# Tuple Functions


   ##minimum value
tup1 = (1,2,3,4,5)
min(tup1)


   ##maximum value
tup1 = (1,2,3,4,5)
max(tup1)

5

* List : Collection ordonnée d'éléments enfermés dans []
* Les list sont muables, 
On peut ajouter , soustraire et multiplier des valeurs  à l'intérieur de la liste

In [37]:
L1 = [1, "pooda" , 3.14, True, 5+9j] 
type(L1)

# Extracting individual elements 

L1[-1] 
L1[1:4]

['pooda', 3.14, True]

In [ ]:
# d = {ni: indi for indi, ni in enumerate(set(names))}
d = {v: k for k, v in enumerate(set(df['workclass'].unique()))}